@{
    ViewData["Title"] = "Books";
}

@model Mission11.Models.ViewModels.BooksListViewModel

@{
    ViewData["Title"] = "Books";
}

<h1 class="p-2">Spencer's Books</h1>

@foreach (var book in Model.Books)
{
    <partial name="BookSummary" model="book"/>
}

<div page-model="@Model.PaginationInfo" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-action="Index" class="btn-group pull-right m-1"></div>